footer {
    color: #007bff!important;
}

footer span {
    color: #007bff!important;
}

.beian {
    color: #007bff!important;
}

.beian span {
    color: #007bff!important;
}

.beian a {
    color: #007bff!important;
}